.search-bar{
    font-size:15px;
    display:inline-block;
}
body{
    background-image:url(/images/vecteezy_hand-drawn-vegetables-seamless-pattern-vegan-food_5490026.jpg);
    font-family: monospace;
    
  
}
.header{
  display:flex;
  height:100px;
  flex-direction:row;
  justify-content:space-between;
  background-color:white;
  

}
.logo2{
  background-color:transparent;
  width:100px;
  height:100px;
  display:flex;
  align-items:center;
  margin-right:30px;
  margin-left:30px;
}
.navbar2{
  background-color:white;
  flex:1;
  margin-left:150px;
  margin-right:35px;

}
.logo-img{
  height:auto;
  width:80%;
  
}
.header ul{
  float:right;
}
.header ul li{
  display:inline-block;
  font-size:50px;
  line-height: 50px;
  margin-right:30px;
  margin-left:40px;
  
}
.header ul li a {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration:none;

}
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 130px;
  z-index: 1;
  top: 80px;
  right: auto;
  left:66,1%
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: medium;
}
.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  position:relative;
  width:50px;
}



.cart-quantity {
  color: red;
  font-size: 30px;
  font-weight: 700;

  position: absolute;
  top: 4px;
  left: 22px;
  
  width: 26px;
  text-align: right;
}

.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-content {
  position: absolute;
  display: block;
}
.pizzdr{
  position:relative;
}
.poza-titlu{
  width:100%;
  margin:none;
  margin-bottom:none;
  display:grid;
  

}
.scris-titlu{
  position:absolute;
  top: 65%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size:80px;
  color:white;
  font-family:monospace;
  opacity:100%;
  margin-bottom:40px;
  display:flex;
  justify-content:space-between;
  

}
.scris-titlu-mic{
  position:absolute;
  font-family:monospace;
  opacity:60%;
  font-size:25px;
  top: 75%;
  left: 15%;
  transform: translate(-50%, -50%);
  color:white;
}
#despre{
  background-color:white;
  display:grid;
  font-family:monospace;
  
}
.despre-box{
  place-items: center;
  align-content: center;
  display:grid;
}
.titlu-despre{
  font-size:30px;
}
.text-despre{
  font-size:18px;
}
.buton-afla{
  font-size: max(18px, 1.2vw);
  color: black;
  margin: 2em 5em;
  padding: 0.6em 1.6em;
  border: 3px solid #2e6a55;
  display: inline-flex;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.2s;
}
.buton-afla:hover {

  background-color: rgb(46, 106, 85, 0.8);
  color: rgb(255, 255, 255);
}
.container-footer{
  max-width: 960px;
  display:block;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.text-footer{
  margin-top:none;
}
footer {
  background-color: #000000;
  color: #ffffff;
  height: 18vh;
  display: flex;
  align-items: center;
}
.iconite a{
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
}
.titlu-contact{
  display:block;
  background-color:white;
  opacity:90%;
  height:100px;
  margin:0 ;
}
.titlu-contact p{
  margin-top:0;
  font-family:monospace;
  font-size:40px;
  margin-bottom:0;
  margin-left:70px;
  
}
.container-contact{
  background-color:white;
  opacity:90%;
  margin:0;
}
.container-contact p{
  font-family:monospace;
  font-size:15px;
  margin-top:0;
  margin-bottom:0;
  margin-left:20px;
}
.container-harta{
  background-color:white;
  opacity:90%;
  position:relative;
  
}
.harta img{
  position:absolute;
  
  
}
.despre-container-titlu{
  background-color:white;
  margin:0;
  height:120px;
  opacity:90%;
  
}
.despre-container-titlu p{
  margin-top:0px;
  padding-top:40px;
  font-size:50px;
  font-family:monospace;
  margin-left:37%;
}
.poza-pasta2{
  width:100%;
  height:250px;
  margin:0;
  
}
.poze-paste{
  width:100%;
  margin:0;
  background-color:white;
}
.despre-container-continut{
  align-items:center;
  background-color:white;
  opacity:90%;
  height:auto;
  padding:40px;
}
.despre-container-continut p{
  font-family:monospace;
  font-size:20px;
  text-align:center;
  line-height:2;

}



.products-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}


@media (max-width: 2000px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}

.product-container {
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  
  border: 5px solid rgb(231, 231, 231);
  margin:5px;
  display: flex;
  flex-direction: column;
  background-color:white;
  
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:400px;
  height: 180px;
  margin-bottom: 20px;
  background-color:white;
}

.product-image {
  
  max-width: 100%;
  max-height: 100%;
  
}

.product-name {
  height: 40px;
  margin-bottom: 5px;
}



.product-price {
  font-weight: 700;
  margin-bottom: 10px;
}

.product-quantity-container {
  margin-bottom: 17px;
}

.product-spacer {
  flex: 1;
}


.add-to-cart-button {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  transition: 0.2s;
  
}
.add-to-cart-button:hover{
  background-color:red;
  transition: 0.2s;
}
.drinks{
  display:block;
  color:transparent;
}
.titlu-meniu{
  background-color:white;
  display:block;
  width:97%;
  text-align:center;
  padding:20px;
  border: 5px solid black;
  font-size:20px;
}
.subscribe-popup{
background-color:black;
position: fixed;
top: 80%;
width:100%;
left: 50%;
position: relative;
z-index: 10000;
display:inline-block;
align-items:center;
}
.popup-content{
font-size:30px;
color:white;
position: relative;
z-index: 10000;
width:100%;
display:inline-block;
align-items:center;
}
.popup-link{
font-size:10px;
position: relative;
z-index: 10000;
width:100%;
display:inline block;
align-items:left;


}
.clear-storage-button{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  
  
}
